<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:Sports.properties" /> 

	
	<bean id="myFortune" class="springDemo.HappyFortuneService"></bean>
	
	<bean id="myCoach" class="springDemo.TrackCoach">
	<constructor-arg ref="myFortune" />
	</bean>
	
	<bean id="CricketCoach" class="springDemo.CricketCoach">
	<property name="FortuneService" ref="myFortune" />
	
	<property name="EmailAddress" value="${foo.email}" />
	<property name="Team" value="${foo.team}" />
	</bean>	
	
	  <bean id="randomFortune" class="springDemo.RandomFortuneSevrice"></bean>
	
	<bean id="GCoach" class="springDemo.GolfCoach">
	 <constructor-arg ref="randomFortune" />
	
	</bean> 
	
	
	
</beans>

